.rate-us-container {
  text-align: center;
  background-color: #333333; /* Simplified background color */
  padding: 30px;
  border-radius: 15px;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  margin: 40px auto;
}

.rate-us-container:hover {
  background-color: #0a0707;
  transform: scale(1.05);
}

.rate-us-container h1 {
  font-size: 32px;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#ffffff, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.star {
  font-size: 40px;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.star.selected {
  color: gold;
}

.star:hover {
  color: gold;
  transform: scale(1.2);
}

.feedback-textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin: 25px 0;
  border: 1px solid #766e6e;
  border-radius: 10px;
  resize: none;
  color: black;
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #56545f;
  color: white;
  border: none;
  padding: 15px 35px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 220px;
  font-size: 16px;
  text-transform: uppercase;
}

button:hover {
  background-color: #b4b1be;
  box-shadow: 0 0 15px rgba(123, 104, 238, 0.7);
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #040303;
  margin: auto;
  padding: 30px;
  border: 2px solid black;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.close {
  color: #eee8e8;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
}
