* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
}

.footercontainer {
    padding: 5px 40px 10px;
}

.socialicons {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.socialicons img {
    width: 30px; 
    height: auto; 
    margin: 0px; 
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 30px 20px;
    border-radius: 100%;
}

.socialicons a i {
    font-size: 3em;
    color: black;
    opacity: 0.9;
}


.socialicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px ;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color:white;
    margin: 10px;
    text-decoration: none;
    font-size: 0.9em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
