@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Love+Ya+Like+A+Sister&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

<<<<<<< HEAD
/* Custom tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position above the tooltip trigger */
  left: 50%;
  margin-left: -60px;
  /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

#draw{
  /* width: 90%; */
=======
#draw {
  width: 90%;
>>>>>>> e70ef3c9d31d093666ec1395670e8fdaa436ec6c
  /* height: 70vh; */
}

/* Add styles for tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Hide tooltip text by default */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  /* Adjust the width as needed */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position above the element */
  left: 50%;
  margin-left: -60px;
  /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Additional styling for tooltip boxes */
.tooltiptext {
  font-size: 0.8rem;
  padding: 5px;
  white-space: nowrap;
}

@media (max-width:570px) {
  body #draw {
    width: 100%;
    height: 56vh;
  }
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-black hover:bg-black;
}

* {
  @apply select-none;
  transition: all 0.2s linear;
}

