@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Love+Ya+Like+A+Sister&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  user-select: none;           
  -webkit-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;       
}

#draw{
  width: 90%;
  /* height: 70vh; */
}

@media (max-width:570px) {
  body #draw{
    width: 100%;
    height: 56vh;
  }
}
