@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Love+Ya+Like+A+Sister&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  user-select: none;           
  -webkit-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;       
}


#draw{
  /* width: 90%; */
  /* height: 70vh; */
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #1b1b1b;
}

::-webkit-scrollbar
{
	width: 9px;
	background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.9);
	background-color: #b7babf;
}


@media (max-width:570px) {
  body #draw{
    width: 90%;
    /* height: 56vh; */
  }
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-black hover:bg-black;
}

* {
  @apply select-none;
  transition: all 0.2s linear;
}

